# API
fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings

# Database
sqlalchemy
psycopg2-binary

# Auth
python-jose[cryptography]
bcrypt

# RAG
langchain-core
langchain-chroma
langchain-ollama
sentence-transformers

# PDF extraction
pdfplumber

# LLMOps
mlflow
deepeval

# Testing
pytest
httpx
